[submodule "thirdparty/json-c"]
	path = thirdparty/json-c
	url = https://github.com/json-c/json-c.git

[submodule "thirdparty/c-logger"]
	path = thirdparty/c-logger
	url = https://github.com/yksz/c-logger.git
	branch = v0.4.2
